[body-bg] {
  background: radial-gradient(#262626 0%, #080808 100%);
}

[layout=code] {
}

[layout] h1,
[layout] h2,
[layout] h3,
[layout] h4,
[layout] h5,
[layout] h6,
[layout] p {
  color: white;
}

[layout=code] .hljs {
  font-family: Consolas, Monaco,'Andale Mono',monospace;
  background-color: transparent;
}

[layout=code] .hljs-comment {
  color: orange;
  line-height: 1;
}
